# Ignore Cargo build artifacts
/target/

# Ignore editor directories
/.idea/
/.vscode/

# Ignore logs and temporary files
*.log

# Ignore other common files
.DS_Store

# Web UI artifacts
/webui/node_modules/
/webui/dist/
